*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: hsl(0, 0%, 0%);
}

.navbar{
    top: 0;
    width: 100%;
    height: 70px;
    background: #413f3f;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    z-index: 1000;
}

.logo{
    width: 100px;
}

.menu{
    margin-left: auto;
    display: flex;
}

.menu a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.menu a:hover{
    color: rgb(253, 253, 54);
}

.searchbar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(149, 71, 165),blue);
    color: white;

}

.searchbar input{
    border: none;
    outline: none;
    color: white;
    background: transparent;
}

.navbar .searchbar input[type="search"]::placeholder{
    color: white;
}
.container1{
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, blue, rgb(161, 13, 161));
    display: flex;
    justify-content: center;   
    align-items: center;    
    position: relative;   
}

.container1 .heading h1{
    font-size: 40px;
    color: white;
    padding: 20px ;
    background: linear-gradient(to right, rgb(72, 206, 211), rgb(167, 44, 184));
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.context1{
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}

.home-page{
    margin: 0 40px;
    position: relative;
}

.home-page{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    gap: 40px 20px;
}
.card-series{
    margin: auto;
    display: flex;
    top: 30PX;
    position: relative;
    max-width: 700px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    
}

.card-series .content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-series img{
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.card-series .title{
    display: flex;
    position: absolute;
    inset: 0;
    color: WHITE;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    justify-content: center;
    text-transform: uppercase;
    transform: translateX(60px) translateY(25%);
    transition: all 0.3s ease;
}

.card-series .title p{
    text-shadow: 0px 0px 10px rgb(156, 156, 156);
}
.card-series .context {
    opacity: 1;
    padding: 20px 10px 20px 25px;
    margin-top: 10px;
    text-align: justify;
    color: WHITE;
    transform: translatey(100%);
    transition: all 0.3s ease;
}

.card-series .context p{
    font-size: 20px;
}

.card-series:hover {
    max-width: 1000PX;
    
}

.card-series:hover .title{
    transform: translate(55px) translateY(0);

}

.card-series:hover .context{
    display:block;
    opacity: 1;
    transform: translatey(10%);
}

footer{
    padding: 10px;
    width: 100%;
    background: #413f3f;
}