*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: hsl(0, 0%, 0%);
}

.navbar{
    top: 0;
    width: 100%;
    height: 70px;
    background: #413f3f;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    z-index: 1000;
}

.logo{
    width: 100px;
}

.menu{
    margin-left: auto;
    display: flex;
}

.menu a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.menu a:hover{
    color: rgb(253, 253, 54);
}

.searchbar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(149, 71, 165),blue);
    color: white;

}

.searchbar input{
    border: none;
    outline: none;
    color: white;
    background: transparent;
}

.navbar .searchbar input[type="search"]::placeholder{
    color: white;
}


.container1{
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, blue, rgb(161, 13, 161));
    display: flex;
    justify-content: center;   
    align-items: center;    
    position: relative;   
}

.container1 .heading h1{
    font-size: 40px;
    color: white;
    padding: 20px ;
    background: linear-gradient(to right, rgb(72, 206, 211), rgb(167, 44, 184));
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.context1{
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}

.home-page{
    margin-top: 20px;
    padding: 20px 80px;
    display: grid;
    gap: 40px 20px;
}

.card{
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(253, 237, 237);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .img-container{
    position: absolute;
    height: 100%;
    width: 300px;
    left: 0px;
}

.card .img-container img{
    height: 100%;
    max-width: 100%;
    width: 250px;
}

.card .content{
   padding: 20px;
   color: white; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.card .context-title {
    position: absolute;
    color: white;
    font-size: 32px;
    left: 25%;
    top: 20px;
}
.card .context-title p {
    font-size: 14px;    
}

.card .context1{
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    flex-direction: column;
    color: white;
    left: 25%;
    top: 30%;
    right:25% ;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

.card .btn-group{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: all 0.3s ease;

}

.card .btn{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px white;
    transition: all 0.3s ease;

}
.card .emoji{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 25%;
    color: white;
    gap: 20px;
    font-size: 20px;
}

.card .emoji i{
    size: 20px;
}

.card .btn-group button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.card .emoji i:hover{
    text-shadow: 0px 0px 2px white;
}

.card .buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
}
.card:hover .buttons{
    height: 100%;
    opacity: 1;
}

footer{
    padding: 10px;
    width: 100%;
    background: #413f3f;
}